@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
}
.features-inner .container {
    max-width: 1080px;
}


/*Promo page*/
.promo-nav-tabs {
    border: 0;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
}
.promo-tab-cont {
    margin-bottom: 60px;
}

.promo-banner {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    background: rgba(255, 31, 143, 1);
    background: -moz-linear-gradient(left, rgba(255, 31, 143, 1) 0%, rgba(59, 24, 164, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 31, 143, 1)), color-stop(100%, rgba(59, 24, 164, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 31, 143, 1) 0%, rgba(59, 24, 164, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 31, 143, 1) 0%, rgba(59, 24, 164, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 31, 143, 1) 0%, rgba(59, 24, 164, 1) 100%);
    background: linear-gradient(to right, rgba(255, 31, 143, 1) 0%, rgba(59, 24, 164, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1f8f', endColorstr='#3b18a4', GradientType=1);
}

.promo-banner h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 31px;
    color: #fff;
    font-weight: 800;
}

.flex-wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-wrapper .col-lg-3 {
    margin-bottom: 40px;
}
.nav-tabs>li.card-cont {
    margin-bottom: 15px;
}
.promo-card {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: visible;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    padding-bottom: 60px;
    position: relative;
    
}
.promo-card .countDays, .promo-card .countHours, .promo-card .countMinutes, .promo-card .countSeconds {
    position: relative;
}
.promo-card .countDays:after {
    content: "Days";
    position: absolute;
    left: 1px;
    bottom: -13px;
    font-size: 10px;
    letter-spacing: 0px !important;
}
.promo-card .countHours:after {
    content: "Hour";
    position: absolute;
    left: 1px;
    bottom: -13px;
    font-size: 10px;
    letter-spacing: 0px !important;
}
.promo-card .countMinutes:after {
    content: "Mins";
    position: absolute;
    left: 1px;
    bottom: -13px;
    font-size: 10px;
    letter-spacing: 0px !important;
}
.promo-card .countSeconds {
    display: none;
}
.promo-card .countSeconds:after {
    content: "Secds";
    position: absolute;
    left: 1px;
    bottom: -13px;
    font-size: 10px;
    letter-spacing: 0px !important;
}
.promo-card:hover {
    /*border: 1px solid #21ace3;*/
    -webkit-box-shadow: 0px 0px 13px 5px rgba(0, 167, 247, 0.32);
    -moz-box-shadow: 0px 0px 13px 5px rgba(0, 167, 247, 0.32);
    box-shadow: 0px 0px 13px 5px rgba(0, 167, 247, 0.32);
    -webkit-transition: all .35s cubic-bezier(0.42, 0, 0, 1.01);
    transition: all .35s cubic-bezier(0.42, 0, 0, 1.01);
}
.promo-nav-tabs li.active .promo-card {
    -webkit-box-shadow: 0px 0px 13px 5px rgba(0, 167, 247, 0.32);
    -moz-box-shadow: 0px 0px 13px 5px rgba(0, 167, 247, 0.32);
    box-shadow: 0px 0px 13px 5px rgba(0, 167, 247, 0.32);
}
.promo-card .prom-img-wrap {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.promo-card img {
    width: 100%;
}

.promo-card-body {
    padding: 15px 15px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    /*border-bottom: 1px solid #cfcfce;*/
}

.promo-card-body h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #404040;
    line-height: 1.4;
}

.promo-card-body p {
    font-size: 12px;
    color: #919191;
    margin-bottom: 0;
}

.promo-card-btn {
    background: #ff1f8e;
    color: #fff;
    border-color: #ff1f8e;
    font-size: 10px;
    border-radius: 50px;
    padding: 4px 11px;
    font-weight: 700;
}
.tab-pane .promo-detail-sec .promo-card-btn {
    padding: 7px 16px;
    font-size: 11px;
    }

.promo-desk-cls .sections-count {
    position: relative;
}

.promo-desk-cls button.close {
    position: absolute;
    top: -42px;
    right: -3px;
    width: 40px;
    height: 40px;
    opacity: 0.7;
}

.promo-desk-cls button.close span {
    font-size: 41px;
    font-weight: 100;
}

.promo-card-btn:hover, .promo-card-btn:focus, .btn-primary:active:hover {
    background: #d4066c;
    border-color: #d4066c;
    color: #fff;
}

.promo-card .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    flex-flow: row wrap;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cfcfce;
}
.fixed-offers:hover .fixed-of.register a {
        display: block;
    height: 23px;
    overflow: hidden;
        -webkit-transition: all .35s cubic-bezier(0.42, 0, 0, 1.01);
    transition: all .35s cubic-bezier(0.42, 0, 0, 1.01);
}


.promo-card-body>.card-seperate:first-child {
    width: calc(100% - 115px);
    border-right: 1px solid #cfcfce;
    padding-right: 7px;
    
}
.card-seperate02 {
    padding: 5px 0px;
    width: 96px;
}
.card-seperate02 p {
    color: #646464;
    font-weight: 700;
    font-size: 10px;
    margin: 0;
}

.time-remaining {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.time-remaining li {
    list-style: none;
    display: inline-flex;
    flex-flow: column;
    font-size: 28px;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    color: #ff009c;
}

.time-remaining li span {
    font-size: 10px;
    font-weight: 400;
    color: #919191;
}

.promo-card .card-footer a {
    font-size: 14px;
    color: #ff009c;
    text-decoration: none;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0px;
    white-space: nowrap;
}

/*detail section*/

.promo-detail-sec {
    margin-top: 60px;
}

.promo-detail-sec .cardTop {
        flex-flow: row wrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.detail-wrapper {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #acacac;
    padding: 30px 20px;
    max-width: 780px;
    margin: 0 auto;
    position: relative;
}

.detail-wrapper img {
    width: 100%;
}

.detail-wrapper h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
    color: #404040;
}

.detail-wrapper .card-footer {
    margin-top: 30px;
    text-align: right;
}

.countdown-register {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.countdown-register .btn {
    margin-left: 30px;
}


/*countdown*/
.count-down {
    /*width: 140px;*/
    height: auto;
    background: none;
    border: 0;
}
.countdown-amount {
    font-size: 23px;
    font-weight: 700;
    color: #ff1f8e;
}
.countdown-period {
    color: #919191;
}
.countdown-show3 .countdown-section {
    width: 32%;
}

.promo-discount {
    position: absolute;
        top: -15px;
    right: 10px;
    width: 45px;
    height: 45px;
    background: #ff1f8e;
    color: #fff;
    border-radius: 50%;
    text-align: center;
        display: flex;
    align-items: center;
    justify-content: center;
        -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
}
.promo-discount p {
    width: 45px;
    line-height: 1.2;
    margin: 0;
}
.promo-discount span {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

.promo-card .digit {
    width: 12px;
    background-color: inherit;
    color: #ff1f8e;
    font-size: 18px;
    box-shadow: none;
    font-weight: 700;
}
.promo-card .countDiv {
    width: 10px;
}
.promo-card .position {
        width: 12px;
        height: 22px;
}
.promo-card .digit.static {
    background-image: none;
    box-shadow: none;
}
.promo-card .countdownHolder {
    width: auto;
    text-align: left;
}

@media (max-width: 768px) {
    .promo-card-body>.card-seperate:first-child {
        width: 100%;
        border: 0;
        padding: 0;
    }
    .card-seperate:nth-child(2) {
        padding: 0;
    }
    .promo-card-body {
        padding-bottom: 0px;
    }
    .promo-card-btn {
    font-size: 12px;
    padding: 5px 13px;
}
    .card-cont {
        width: 50%;
    }
    .promo-discount {
        width: 50px;
        height: 50px;
    }
    .promo-discount span {
        font-size: 16px;
    }
}
@media (max-width: 580px) {
    .promo-card-btn {
    font-size: 10px;
    padding: 2px 9px;
    /*line-height: 0;*/
}
    .promo-card-body {
    padding-bottom: 0px;
}
    
}
@media (max-width: 450px) { 
    .countdown-register .btn {
    margin-left: 0px;
        margin-top: 15px;
}
    .card-cont {
        width: 100%;
    }
    .promo-discount {
    width: 42px;
    height: 42px;
}
    .promo-discount span {
    font-size: 13px;
}

}




/*.card-footer a:first-child {
    display: none;
}
*/
.promo-card a:hover, .promo-card a:focus {
    text-decoration: none;
}
.promotion-inner .nav-tabs>li.active>a, .promotion-inner .nav-tabs>li.active>a:focus, .promotion-inner .nav-tabs>li.active>a:hover, .promotion-inner .nav>li>a {
    border: 0;
    padding: 0;
}

















